/**************
                Elements
            **************/
            html{
                height: 400px;
                width: 589px;
                
            }
            body{
                border-left-width: 10px;
                border-left-color: rgb(255, 0, 0);
                border-left-style: solid;
                border-top-width: 10px;
                border-top-color: rgb(255, 0, 0);
                border-top-style: solid;
                border-right-width: 10px;
                border-right-color: rgb(255, 0, 0);
                border-right-style: solid;
                border-bottom-width: 10px;
                border-bottom-color: rgb(255, 0, 0);
                border-bottom-style: solid;
            }
            /**************
                Classes
            **************/
            .prototype {
                left: 51px;
                visibility: hidden;
            }
            .name {
                color: red;
                background-color: rgb(255, 213, 0);
            }
            .name_qwerty { 
                margin-left: 40px; 
            }
            .name_uiop{
                margin-left: 80px;
            }
            .bottom{
                margin-left: 456px;
                background-color: yellow;
                position: fixed;
                top: 345px;
                border: black 5px solid;
            }
            .name_asdfg{
                margin-left: 40px;
            }
            .arrow{
                border: black 5px solid;
                margin-left: 489px;
                top:320px;
                background-color: yellow;
                position: fixed;
            }
            .button{
                -webkit-transform:rotate(90deg);
                margin-left: 444px;
                top: 10800px;
                position: absolute;
                width: 187px;
            }
            /***********
                IDs
            ***********/
            #header{
                text-decoration: underline;
                
            }
            #a{
                background-color: rgb(255, 212, 212);
            }
            #b{
                background-color: rgb(0, 221, 250);
                border-top-style: solid;
                border-top-color: rgb(0, 221, 250);
                border-bottom-style: solid;
                border-bottom-color: rgb(0, 221, 250);
            }
            #c{
                background-color: rgb(250, 117, 0);
            }
            #d{
                background-color: rgb(255, 0, 255);
            }
            #e{
                background-color: rgb(232, 211, 232);
            }
            #f{
                background-color: yellow;
                font-size: 1.10em;
            }
            #g{
                background-color: rgb(0, 255, 221);
            }
            #i{
              background: blue;
            }
            #blah {
                background-color: pink;
            }
            /*******************
                Descendents
            *******************/
            
